In [2]:
# Imports
import pandas as pd
import numpy as np

In [38]:
# remove unwanted columns from df
df = pd.read_csv("listings2019_2022.csv")
cols_to_delete = ['companyRating', 'city', 'companyId', 'companyName', 'seekJobListingUrl', 'isRightToWorkRequired', 'area', 'jobId', 'nation', 'teaser', 'expiryDate', 'salary_string', 'desktopAdTemplate', 'mobileAdTemplate', 'companyProfileUrl', 'first_seen', 'last_seen', 'recruiter']
df.drop(cols_to_delete, axis=1, inplace=True)

df.rename(columns = {'advertiserName': 'companyName'}, inplace=True)

df

,jobTitle,jobClassification,jobSubClassification,companyName,advertiserId,listingDate,state,suburb,workType,R,...,Knime,D3,Clojure,Haskell,Lisp,Golang,Spark,Javascript,F.,Fortran
0,Senior Method Development Immunoassay Scientis...,Science & Technology,Biological & Biomedical Sciences,Hobson Prior Australia,30969882,16/01/2019 12:17,New South Wales,sydney,Full Time,1,...,0,0,0,0,0,0,0,0,0,0
1,Pricing Data Scientist - Lower North Shore,Information & Communication Technology,Other,Randstad - Technologies,26537413,4/02/2019 13:02,Australian Capital Territory,NaN,Full Time,1,...,0,0,0,0,0,0,0,0,0,0
2,Insights Analyst – Online Video Streaming,Information & Communication Technology,Database Development & Administration,Aurec,39407892,5/02/2019 11:33,New South Wales,NaN,Full Time,1,...,0,0,0,0,0,0,0,0,0,0
3,Credit Risk Analyst,Banking & Financial Services,Compliance & Risk,Huxley Associates,26057722,5/02/2019 11:39,New South Wales,NaN,Full Time,1,...,0,0,0,0,0,0,0,0,0,0
4,Data Scientist,Information & Communication Technology,Database Development & Administration,FinXL IT Professional Services,33086778,5/02/2019 12:54,New South Wales,NaN,Contract/Temp,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3897,Data Scientist | Closes 31 Jan | Citizenship r...,Information & Communication Technology,Consultants,Continuum Recruitment,35055316,25/01/2022 9:45,Australian Capital Territory,Canberra,Contract/Temp,0,...,0,0,0,0,0,0,0,0,0,0
3898,Senior Data Scientist,Information & Communication Technology,Business/Systems Analysts,Toyota Finance Australia,39087537,25/01/2022 12:01,New South Wales,NaN,Full time,1,...,0,0,0,0,0,0,0,0,0,0
3899,Data Scientist (Several),Information & Communication Technology,Other,Effective People,36422607,25/01/2022 15:15,Australian Capital Territory,Canberra,Contract/Temp,0,...,0,0,0,0,0,0,0,0,0,0
3900,Machine Learning Data Scientist (PHD),Science & Technology,"Mathematics, Statistics & Information Sciences",Susquehanna Pacific Pty Ltd,20351243,25/01/2022 16:55,New South Wales,Barangaroo,Full time,0,...,0,0,0,0,0,0,0,0,0,0
3901,Data Scientist,Science & Technology,"Mathematics, Statistics & Information Sciences",Valrose,39090289,25/01/2022 17:00,Western Australia,Perth,Full time,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
# Data cleaning - adding values to NaN cells for suburbs and company names
df.loc[df['listingDate'] == '4/02/2019 13:02', 'suburb'] = 'Canberra'
df.loc[df['listingDate'] == '5/02/2019 11:33', 'suburb'] = 'Sydney'
df.loc[df['listingDate'] == '5/02/2019 11:39', 'suburb'] = 'Sydney'
df.loc[df['listingDate'] == '5/02/2019 12:54', 'suburb'] = 'Sydney'

#df.loc[df['advertiserId'] == 33086778, 'companyName'] = 'FinXL IT Professional Services'
#df.loc[df['advertiserId'] == 33086778, 'suburb'] = 'Sydney'
#df.loc[df['listingDate'] == '23/09/2019 14:03', 'suburb'] = 'Melbourne'
#df.loc[df['listingDate'] == '2/07/2020 10:05', 'suburb'] = 'Melbourne'

#df.loc[df['advertiserName'] == 'Bluefin Resources Pty Limited', 'companyName'] = 'Bluefin Resources Pty Limited'

In [39]:
# Remove unwanted companies (ie. job recruitment agencies)
df.drop(df.index[df['companyName'] == 'Robert Walters'], inplace = True)
df.drop(df.index[df['companyName'] == 'Motion Recruitment'], inplace = True)
df.drop(df.index[df['companyName'] == 'Hobson Prior Australia'], inplace = True)
df.drop(df.index[df['companyName'] == 'Hudson'], inplace = True)
df.drop(df.index[df['companyName'] == 'Talent – Winner ‘Seek Large Recruitment Agency of the Year’ 3 consecutive years!'], inplace = True)

In [42]:
df.head(20)

,jobTitle,jobClassification,jobSubClassification,companyName,advertiserId,listingDate,state,suburb,workType,R,...,Knime,D3,Clojure,Haskell,Lisp,Golang,Spark,Javascript,F.,Fortran
1,Pricing Data Scientist - Lower North Shore,Information & Communication Technology,Other,Randstad - Technologies,26537413,4/02/2019 13:02,Australian Capital Territory,Canberra,Full Time,1,...,0,0,0,0,0,0,0,0,0,0
2,Insights Analyst – Online Video Streaming,Information & Communication Technology,Database Development & Administration,Aurec,39407892,5/02/2019 11:33,New South Wales,Sydney,Full Time,1,...,0,0,0,0,0,0,0,0,0,0
3,Credit Risk Analyst,Banking & Financial Services,Compliance & Risk,Huxley Associates,26057722,5/02/2019 11:39,New South Wales,Sydney,Full Time,1,...,0,0,0,0,0,0,0,0,0,0
4,Data Scientist,Information & Communication Technology,Database Development & Administration,FinXL IT Professional Services,33086778,5/02/2019 12:54,New South Wales,Sydney,Contract/Temp,0,...,0,0,0,0,0,0,0,0,0,0
5,Data Scientist,Information & Communication Technology,Database Development & Administration,FinXL IT Professional Services,33086778,5/02/2019 12:55,New South Wales,NaN,Contract/Temp,1,...,0,0,0,0,0,0,0,0,0,0
6,Data Scientist,Banking & Financial Services,Analysis & Reporting,Macquarie Group Limited,23039563,5/02/2019 14:24,New South Wales,sydney,Full Time,1,...,0,0,0,0,0,0,0,0,0,0
7,Data Scientist,Banking & Financial Services,Analysis & Reporting,Bluefin Resources Pty Limited,27705684,5/02/2019 15:41,New South Wales,sydney,Full Time,1,...,0,0,0,0,0,0,0,0,0,0
10,Postdoctoral Fellow,Science & Technology,Other,The Australian National University,20132157,6/02/2019 11:07,Australian Capital Territory,NaN,Full Time,0,...,0,0,0,0,0,0,0,0,0,0
11,Postdoctoral Fellow,Education & Training,Other,The Australian National University,20132157,6/02/2019 11:07,Australian Capital Territory,NaN,Full Time,0,...,0,0,0,0,0,0,0,0,0,0
12,Data Scientist,Information & Communication Technology,Database Development & Administration,CSIRO,19999086,6/02/2019 13:20,Australian Capital Territory,blackmountain,Contract/Temp,1,...,0,0,0,0,0,0,0,0,0,0
13,Data Scientist,Government & Defence,Government - Federal,CSIRO,19999086,6/02/2019 13:20,Australian Capital Territory,blackmountain,Contract/Temp,1,...,0,0,0,0,0,0,0,0,0,0
16,Data Scientist,Information & Communication Technology,Database Development & Administration,FinXL IT Professional Services,33086778,6/02/2019 17:53,New South Wales,NaN,Contract/Temp,1,...,0,0,0,0,0,0,0,0,0,0
17,Data Science Management Consultant,Information & Communication Technology,Business/Systems Analysts,ParkTrail Associates,40752839,6/02/2019 19:55,New South Wales,sydney,Full Time,1,...,0,0,0,0,0,0,0,0,0,0
18,Data Engineer - Big Data,Information & Communication Technology,Engineering - Software,iGreenData,40114822,25/02/2019 16:00,Victoria,melbourne,Full Time,0,...,0,0,0,0,0,0,0,0,0,0
19,Data Scientist,Information & Communication Technology,Business/Systems Analysts,FinXL IT Professional Services,33086778,7/02/2019 10:10,New South Wales,NaN,Contract/Temp,1,...,0,0,0,0,0,0,0,0,0,0
20,Data Scientist,Science & Technology,"Mathematics, Statistics & Information Sciences",Ambition Technology,28593204,7/02/2019 11:53,Victoria,melbourne,Full Time,1,...,0,0,0,0,0,0,0,0,0,0
21,Senior Data Scientist,Marketing & Communications,Digital & Search Marketing,Annalect,32277792,7/02/2019 13:21,New South Wales,sydney,Full Time,1,...,0,0,0,0,0,0,0,0,0,0
22,Data Analyst/Scientist,Science & Technology,"Mathematics, Statistics & Information Sciences",Austcorp Executive,25966116,8/02/2019 10:41,New South Wales,sydney,Full Time,1,...,0,0,0,0,0,0,0,0,0,0
23,Data Analyst/ Data Scientist,Government & Defence,Government - Federal,Chartertech Pty Ltd,41019194,8/02/2019 16:18,Australian Capital Territory,canberra,Full Time,1,...,0,0,0,0,0,0,0,0,0,0
24,Data Science Manager,"Mining, Resources & Energy",Management,Hatch Pty Ltd,21550913,8/02/2019 16:18,Queensland,brisbane,Full Time,1,...,0,0,0,0,0,0,0,0,0,0

In [25]:
# Checks number of NaN in column 'companyName'
# df['companyName'].isnull().sum()

2274