In [6]:
# Imports
import pandas as pd
import numpy as np

In [7]:
# remove unwanted columns from df
df = pd.read_csv("listings2019_2022.csv")
cols_to_delete = ['companyRating', 'city', 'companyId', 'isRightToWorkRequired', 'area', 'jobId', 'nation', 'teaser', 'expiryDate', 'salary_string', 'desktopAdTemplate', 'mobileAdTemplate', 'companyProfileUrl', 'first_seen', 'last_seen', 'recruiter']
df.drop(cols_to_delete, axis=1, inplace=True)
df

,jobTitle,jobClassification,jobSubClassification,advertiserName,advertiserId,companyName,listingDate,state,suburb,workType,...,Knime,D3,Clojure,Haskell,Lisp,Golang,Spark,Javascript,F.,Fortran
0,Senior Method Development Immunoassay Scientis...,Science & Technology,Biological & Biomedical Sciences,Hobson Prior Australia,30969882,NaN,16/01/2019 12:17,New South Wales,sydney,Full Time,...,0,0,0,0,0,0,0,0,0,0
1,Pricing Data Scientist - Lower North Shore,Information & Communication Technology,Other,Randstad - Technologies,26537413,NaN,4/02/2019 13:02,Australian Capital Territory,NaN,Full Time,...,0,0,0,0,0,0,0,0,0,0
2,Insights Analyst â€“ Online Video Streaming,Information & Communication Technology,Database Development & Administration,Aurec,39407892,NaN,5/02/2019 11:33,New South Wales,NaN,Full Time,...,0,0,0,0,0,0,0,0,0,0
3,Credit Risk Analyst,Banking & Financial Services,Compliance & Risk,Huxley Associates,26057722,NaN,5/02/2019 11:39,New South Wales,NaN,Full Time,...,0,0,0,0,0,0,0,0,0,0
4,Data Scientist,Information & Communication Technology,Database Development & Administration,FinXL IT Professional Services,33086778,NaN,5/02/2019 12:54,New South Wales,NaN,Contract/Temp,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3897,Data Scientist | Closes 31 Jan | Citizenship r...,Information & Communication Technology,Consultants,Continuum Recruitment,35055316,NaN,25/01/2022 9:45,Australian Capital Territory,Canberra,Contract/Temp,...,0,0,0,0,0,0,0,0,0,0
3898,Senior Data Scientist,Information & Communication Technology,Business/Systems Analysts,Toyota Finance Australia,39087537,Toyota Financial Services,25/01/2022 12:01,New South Wales,NaN,Full time,...,0,0,0,0,0,0,0,0,0,0
3899,Data Scientist (Several),Information & Communication Technology,Other,Effective People,36422607,NaN,25/01/2022 15:15,Australian Capital Territory,Canberra,Contract/Temp,...,0,0,0,0,0,0,0,0,0,0
3900,Machine Learning Data Scientist (PHD),Science & Technology,"Mathematics, Statistics & Information Sciences",Susquehanna Pacific Pty Ltd,20351243,NaN,25/01/2022 16:55,New South Wales,Barangaroo,Full time,...,0,0,0,0,0,0,0,0,0,0
3901,Data Scientist,Science & Technology,"Mathematics, Statistics & Information Sciences",Valrose,39090289,NaN,25/01/2022 17:00,Western Australia,Perth,Full time,...,0,0,0,0,0,0,0,0,0,0

In [8]:
df.columns

Index(['jobTitle', 'jobClassification', 'jobSubClassification',
       'advertiserName', 'advertiserId', 'companyName', 'listingDate', 'state',
       'suburb', 'workType', 'seekJobListingUrl', 'R', 'Python', 'Matlab',
       'SQL', 'Stata', 'Minitab', 'SPSS', 'Ruby', 'C', 'Scala', 'Tableau',
       'Java', 'Hadoop', 'SAS', 'Julia', 'Knime', 'D3', 'Clojure', 'Haskell',
       'Lisp', 'Golang', 'Spark', 'Javascript', 'F.', 'Fortran'],
      dtype='object')

In [9]:
rows_with_nan = df.loc[df['companyName'].isnull() & df['suburb'].isnull()]

In [10]:
rows_with_nan.head()

,jobTitle,jobClassification,jobSubClassification,advertiserName,advertiserId,companyName,listingDate,state,suburb,workType,...,Knime,D3,Clojure,Haskell,Lisp,Golang,Spark,Javascript,F.,Fortran
1,Pricing Data Scientist - Lower North Shore,Information & Communication Technology,Other,Randstad - Technologies,26537413,NaN,4/02/2019 13:02,Australian Capital Territory,NaN,Full Time,...,0,0,0,0,0,0,0,0,0,0
2,Insights Analyst â€“ Online Video Streaming,Information & Communication Technology,Database Development & Administration,Aurec,39407892,NaN,5/02/2019 11:33,New South Wales,NaN,Full Time,...,0,0,0,0,0,0,0,0,0,0
3,Credit Risk Analyst,Banking & Financial Services,Compliance & Risk,Huxley Associates,26057722,NaN,5/02/2019 11:39,New South Wales,NaN,Full Time,...,0,0,0,0,0,0,0,0,0,0
4,Data Scientist,Information & Communication Technology,Database Development & Administration,FinXL IT Professional Services,33086778,NaN,5/02/2019 12:54,New South Wales,NaN,Contract/Temp,...,0,0,0,0,0,0,0,0,0,0
5,Data Scientist,Information & Communication Technology,Database Development & Administration,FinXL IT Professional Services,33086778,NaN,5/02/2019 12:55,New South Wales,NaN,Contract/Temp,...,0,0,0,0,0,0,0,0,0,0